<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>OpenStore</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Browse Apps - OpenStore</title>

    <meta name="opengraphstart" />
    <meta id="description" name="description" content="OpenStore - The open source app store for Ubuntu Touch">

    <meta id="name" itemprop="name" content="OpenStore">
    <meta id="idescription" itemprop="description" content="OpenStore for Ubuntu">
    <meta id="image" itemprop="image" content="https://open-store.io/logo.png">

    <meta id="tcard" name="twitter:card" content="summary">
    <meta id="ttitle" name="twitter:title" content="OpenStore">
    <meta id="tdescription" name="twitter:description" content="OpenStore - The open source app store for Ubuntu Touch">
    <meta id="timage" name="twitter:image:src" content="https://open-store.io/logo.png">

    <meta id="otitle" property="og:title" content="OpenStore">
    <meta id="otype" property="og:type" content="website">
    <meta id="ourl" property="og:url" content="https://open-store.io/">
    <meta id="oimage" property="og:image" content="https://open-store.io/logo.png">
    <meta id="odescription" property="og:description" content="OpenStore - The open source app store for Ubuntu Touch">
    <meta id="ositename" property="og:site_name" content="OpenStore">
    <meta name="opengraphend" />

    <link href="<%= BASE_URL %>vanilla.css" rel="stylesheet" />

    <link rel="icon" type="image/png" href="<%= BASE_URL %>logo.png?v=3">
    <link rel="apple-touch-icon" href="<%= BASE_URL %>logo.png" />
    <link rel="apple-touch-icon-precomposed" href="<%= BASE_URL %>logo.png" />
  </head>
  <body>
    <noscript>
      <strong>We're sorry but the OpenStore doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
